<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>RPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/Raspberry-Pi.png" type="image/png"/>
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/flot-0.8.3/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/flot-0.8.3/flot/jquery.flot.time.js"></script>

    <script type="text/javascript" src="/angular-1.4.4/angular.js"></script>
    <script type="text/javascript" src="/angular-1.4.4/angular-route.js"></script>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <!-- http://fortawesome.github.io -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!--http://sciactive.com/pnotify/#demos-simple-->
    <script type="text/javascript" src="/js/notify.min.js"></script>


    <!-- Optional theme -->

    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="/css/bootstrap-theme-yeti.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/t/app.js"></script>

    <!-- Angular Services-->
    <script type="text/javascript" src="/t/Services/plotScalingService.js"></script>
    <script type="text/javascript" src="/t/Services/plotService.js"></script>
    <script type="text/javascript" src="/t/Services/plotTooltipService.js"></script>

    <!-- Angular Controlers -->
    <script type="text/javascript" src="/t/actualTempController.js"></script>
    <script type="text/javascript" src="/t/osNavbarController.js"></script>
    <script type="text/javascript" src="/t/tempPlotController.js"></script>
    <script type="text/javascript" src="/t/dropDownListOfHistoryController.js"></script>
    <script type="text/javascript" src="/t/newTempPlotController.js"></script>
    <script type="text/javascript" src="/t/linkNavbarController.js"></script>
    <script type="text/javascript" src="/t/tempComparePlotController.js"></script>
    <script type="text/javascript" src="/t/ledController.js"></script>
    <script type="text/javascript" src="/t/deviceDiagnosticController.js"></script>
    <script type="text/javascript" src="/t/moveSensorsHistoryController.js"></script>
    <script type="text/javascript" src="/t/espDevicesDiagnosticController.js"></script>



    <!--<script type="text/javascript" src="/t/plotDirective.js"></script>-->


    <script type="text/javascript">


        $.notify.addStyle('happyblue', {
            html: "<div>☺<span data-notify-text/>☺</div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "lightblue",
                    "padding": "5px"
                },
                superblue: {
                    "color": "white",
                    "background-color": "blue"
                },
                error: {
                    "color": "red",
                    "background-color": "red"
                }


            }
        });

        $.notify.addStyle('myError', {
            html: "<div>" +
            "<div class='clearfix'>" +
            "<div class='title' data-notify-html='title' />" +
            "<div class='text' data-notify-text='text' />" +
            "</div>" +
            "</div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "red",
                    "padding": "5px"
                }
            }

        });

        $.notify.defaults({position: "bottom right"});
    </script>

    <style type="text/css">
        th, td {
            padding: 0px 2px;
        }

        .navbar-width {

            display: inline-block;
            font-size: 0.9em;
            margin-left: 10px;
            text-align: center;
        }

        .font-small {
            font-size: 0.7em;
        }

        .lightOn {
            color: #cccc00;
        }

    </style>
</head>
<body ng-app="myModule">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img alt="Brand" src="/Raspberry-Pi.png" style="width: 20px; height: 20px;"></a>

            <p loading class="navbar-text"><span class="glyphicon glyphicon-refresh text-muted"
                                                 aria-hidden="true"></span></p>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav" ng-controller="linkNavbarController">

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Temperature<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li active-link="active"><a href="#/actual-temp.html">Temperature</a></li>
                        <li active-link="active"><a href="#/temp-history.html">Temperatures history</a></li>
                        <li active-link="active"><a href="#/new-temp-history.html">Temperatures history new</a></li>
                        <li active-link="active"><a href="#/temp-compare-history.html">Compare temperature history</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Device<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li active-link="active"><a href="#/led.html">Led</a></li>
                        <li active-link="active"><a href="#/device-diagnostic.html">Device diagnostic</a></li>
                        <li active-link="active"><a href="#/esp-devices-diagnostic.html">ESP device diagnostic</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sensors<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li active-link="active"><a href="#/move-sensors-history.html">Move sensors history</a></li>
                    </ul>
                </li>


                <li><a href="/view">view</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/logout" class="navbar-link">Wyloguj</a></li>

            </ul>

            <div class="navbar-text navbar-right" ng-controller="osNavbarController" style="margin: 8px">


                <div class="navbar-width">
                    <div class="text-muted font-small">DISK({{diskName}}):</div>
                    <div class=""><b>{{disk}} %</b></div>
                </div>

                <div class="navbar-width">
                    <div class="text-muted font-small">MEM:</div>
                    <div class=""><b>{{mem}} %</b></div>
                </div>
                <div class="navbar-width">
                    <div class="text-muted font-small">CPU:</div>
                    <div class=""><b>{{cpu}} %</b></div>
                </div>
                <div class="navbar-width">
                    <div class="text-muted font-small">CORE TEMP:</div>
                    <div class=""><b>{{core_temp}} C</b></div>
                </div>




            </div>


        </div>


    </div>
</nav>


<div class="container">
    <!--<h1 class="text-center">My RPi</h1>-->
    <!--<hr/>-->

    <div>
        <% if  ( anyError ) { %>
        <div class="alert alert-info" role="alert">
            <pre><%= massages %></pre>
        </div>
        <% }; %>
    </div>

    <div id="viewContainer" ng-view></div>


</div>


</body>
</html>

<!-- Views -->
<%- include index/espDevicesDiagnostic.ejs %>
<%- include index/movmentSensorHistory.ejs %>
<%- include index/deviceDiagnostic.ejs %>
<%- include index/led.ejs %>
<%- include index/actualTemp.ejs %>
<%- include index/newTempHistory.ejs %>
<%- include index/tempHistory.ejs %>
<%- include index/tempCompareHistory.ejs %>